body {
	background-color: #117265;
}

h1, #result {
	display: flex;
	justify-content: center;
}

h1, #result, #roll-button, #help-button, #num-of-rolls, .multi-roll-container {
	font-family: Arial, Helvetica, "sans-serif"; 
	font-weight: bold;
	color: #FFBC43;
}

#num-of-rolls {
	background-color: #008775;
	border-color: #000000;
	font-size: 1em;
}

#help-button:hover, #roll-button:hover{
	color: #FFAA00;
	background-color: #B68F1B;
	padding: 35px;
	margin: 10px;
	transition-duration: 0.5s;
}

#help-button, #roll-button {
	padding: 25px;
	font-size: 1.5em;
	background-color: #008775;
	border-color: #000000;
	margin: 5px;
    transition: all 0.5s ease; 
}

.container {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.multi-roll-container {
	display: flex;
	padding: 10px;
	font-size: 1.5em;
}

#result {
	padding: 50px;
	font-size: 4em;
}
